.lookbook-form {
  .lookbook-actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .lookbook-actions__selects {
      display: flex;
      gap: 12px;
      select {
        padding: 5px;
        outline: none;
        box-shadow: none;
        &:focus, &:active {
          outline: none;
          box-shadow: none;
        }
      }
    }
    .lookbook-actions__cta {
      button {
        width: 100%;

        &.disabled {
          pointer-events: none;
          background: gray;
          opacity: 0.8;
        }
      }

      a {
        display: none;
        &.visible {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;

          &:visited {
            color: white;
          }
        }
      }
    }
  }
}